.nav{
width:1350px;
height:50px;
background-color:deepskyblue;

}
.nav ul{width:100%;
list-style:none;
padding:0;
margin:0;
}
.nav ul li{
float:left;

}
.nav ul li a{
display:inline-block;width:150px;height:50px;
text-align:conter;line-height:50px;color:#ffffff;text-decoration:none;
		 }
.nav ul li a:hover{background-color:slateblue;
}

h1 img{
float:left;
border-radius:50%; 
overflow:hidden;
}
h1 p{color:darkviolet;
font-size:25px;
}
h1 span{font-size:20px;
font-family:SimSun;

}

h2 p{color:darkviolet;
font-size:25px;
}
h2 span{font-size:20px;
font-family:youyuan;

}
h2 img{
float:left;
border-radius:30%; 
overflow:hidden;
}


h3 img{
float:left;
border-radius:50%; 
overflow:hidden;
}
h3 p{color:darkviolet;
font-size:25px;
}
h3 span{font-size:20px;
font-family:SimSun;
}
.footer{clear:both; 
width:100%; 
height:310px;
 border-top:1px solid #e30002; 
 background-color:#2c2c2c;}
.footer .f_ct{width:1120px; 
clear:both; 
height:104px;
 margin:38px auto;}
.footer .f_ul{
float:left;
}
.footer .ul_r{
margin-right:33px;
}
.footer .last{
margin-right:0;
}
.footer .f_ul h3{
font-size:16px;
 color:#fff; 
 font-weight:bold; 
 line-height:44px;
 }
.footer .f_ul ul.ul_w1{
width:176px;
}
.footer .f_ul ul.ul_w2{
width:240px;
}
.footer .f_ul ul.ul_w3{
width:200px;
}
.footer .f_ul ul li{
font-size:14px;
 color:#aaa;
 line-height:30px;
 float:left; 
 width:80px; 
 margin:0 8px 0 0;
 }
.footer .f_ul ul li a{
color:#aaa;
}
.footer .f_ul ul li a:hover{
color:#e30002;
}
.footer p{
clear:both;
 width:100%;
 height:66px;
 line-height:66px;
 color:#999; 
 font-size:14px;
 border-top:1px solid #393939;
 text-align:center;
 }
.footer p a{
color:#666;
}
